<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Histogram</title>
</head>

<body>
    <nav>
        <button><a href="/">vote</a></button>
        <button><a href="/histogram">histogram</a></button>
        <button><a href="/success">success</a></button>
    </nav>

    <h2>Vote Histogram</h2>
    <img src="data:image/png;base64,{{ plot_data }}" alt="Histogram">

</body>

</html>